.callSection {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.callSection img {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 84%;
    width: 100%;
    height: 100%;
}

.text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2.5rem;
}

.text span{
    color: #FF4D30;
}