.homeTestimonials {
    padding: 40px;
    margin: 0 50px;
}

.headingText {
    text-align: center;
}

.heading {
    color: #1E1E1E;
    font-size: 24px;
}

.testimonials {
    display: flex;
    align-items: space-evenly;
    justify-content: space-evenly;
}