.header {
    margin: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.navLinks ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.navLinks ul li {
    margin: 0 15px; 
}

.navLinks ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #1E1E1E;
}

.navLinks ul li a:hover {
    color: #FF4D30;
}

.button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}