.homeMenu {
    margin: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: #1E1E1E;
}

.left {
    width: 50%;
    //padding-left: 10%;
    padding-top: 50px;
}

.right {
    width: 50%;
}

.left p {
    font-size: 24px;
    letter-spacing: 0.5px;
}

.left h2 {
    font-size: 50px;
    width: 80%;
    line-height: 170%;
    letter-spacing: 1px;
}

.left h2 span{
    color: #FF4D30;
}

.button {
    display: flex;
    justify-content: start;
    align-items: center;
}

.rightButton {
    margin-left: 20px;
}

.imageContainer {
    width: 100%;
    height: 100%;
}

.imageContainer img {
    width: 100%;
    height: 100%;
}