.rentSteps {
    text-align: center;
    padding: 40px;
}
.heading {
    color: #1E1E1E;
    font-size: 24px;
}

.heading span {
    color: #FF4D30
}

.cards {
    margin: 50px 190px;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

